Package: openssh-tests
Source: openssh
Version: 1:9.2p1-2+deb12u2
Architecture: amd64
Maintainer: Debian OpenSSH Maintainers <debian-ssh@lists.debian.org>
Installed-Size: 7666
Depends: openssh-client (= 1:9.2p1-2+deb12u2), openssh-server (= 1:9.2p1-2+deb12u2), openssh-sftp-server (= 1:9.2p1-2+deb12u2), openssl, putty-tools (>= 0.67-2), python3-twisted, libc6 (>= 2.36), libmd0 (>= 0.0.0), libselinux1 (>= 3.1~), libssl3 (>= 3.0.0), zlib1g (>= 1:1.1.4)
Section: net
Priority: optional
Multi-Arch: foreign
Homepage: https://www.openssh.com/
Description: OpenSSH regression tests
 This package provides OpenSSH's regression test suite.  It is mainly
 intended for use with the autopkgtest system, though can also be run
 directly using /usr/lib/openssh/regress/run-tests.
